In [2]:
import pandas as c

In [3]:
x=c.read_excel("Sample.xlsx")

In [4]:
x

      Days  Apple  Bannana  Rice  Biscuits  Chips
0    Day 1     55       80    76        30     72
1    Day 2     64       66    50         9     21
2    Day 3     19       46    43        18     38
3    Day 4     14       10    95        93     27
4    Day 5     13       54    83         5     33
5    Day 6     42       82    78        41     36
6    Day 7     25      100    74        21     90
7    Day 8     94       24    83        47     55
8    Day 9     15       35     1        27     29
9   Day 10     87       74    42         5     81
10  Day 11     19       40    55        26    100
11  Day 12     23       64    65        76     79
12  Day 13     71       82    12        23     60
13  Day 14     26       87    89        17     18
14  Day 15     96       66    26        41     72
15  Day 16     65       11    80        33     63
16  Day 17     24       58    59        15     61
17  Day 18     97       76    15        69    100
18  Day 19     72       95    52        31     16
19  Day 20     76       63     1        66     97

In [5]:
x.head()

    Days  Apple  Bannana  Rice  Biscuits  Chips
0  Day 1     55       80    76        30     72
1  Day 2     64       66    50         9     21
2  Day 3     19       46    43        18     38
3  Day 4     14       10    95        93     27
4  Day 5     13       54    83         5     33

In [6]:
import pandas as c

In [10]:
x=c.read_excel("Book python.xlsx")

In [11]:
x

      days  apple  banana  rice   biscut  chips
0    day 1   24.0    18.0     11    58.0     14
1    day 2   67.0    96.0     37    95.0     96
2    day 3   72.0     8.0      7    76.0     56
3    day 4   72.0    28.0     47    63.0     20
4    day 5   23.0    50.0     20    45.0     52
5    day 6   38.0     2.0      9    71.0     29
6    day 7   79.0    68.0      1    26.0     92
7    day 8   87.0    27.0     28     NaN     32
8    day 9   86.0     9.0     90     NaN      8
9   day 10   98.0    99.0     38     1.0     50
10  day 11    5.0    42.0     20    51.0     30
11  day 12   93.0     NaN     47    95.0     88
12  day 13    7.0    79.0     75    23.0     52
13  day 14   31.0    85.0     88    36.0     93
14  day 15    NaN   100.0     74    20.0     82
15  day 16   30.0    94.0      3    19.0     72
16  day 17   66.0    98.0     92    52.0     24
17  day 18   21.0     NaN     23    48.0     85
18  day 19   42.0    94.0     97    79.0     73
19  day 20    1.0    40.0     29    29.0     20

In [16]:
nan_x=x.dropna()

In [17]:
nan_x

      days  apple  banana  rice   biscut  chips
0    day 1   24.0    18.0     11    58.0     14
1    day 2   67.0    96.0     37    95.0     96
2    day 3   72.0     8.0      7    76.0     56
3    day 4   72.0    28.0     47    63.0     20
4    day 5   23.0    50.0     20    45.0     52
5    day 6   38.0     2.0      9    71.0     29
6    day 7   79.0    68.0      1    26.0     92
9   day 10   98.0    99.0     38     1.0     50
10  day 11    5.0    42.0     20    51.0     30
12  day 13    7.0    79.0     75    23.0     52
13  day 14   31.0    85.0     88    36.0     93
15  day 16   30.0    94.0      3    19.0     72
16  day 17   66.0    98.0     92    52.0     24
18  day 19   42.0    94.0     97    79.0     73
19  day 20    1.0    40.0     29    29.0     20

NameError: name 'true' is not defined

In [26]:
x.dropna(inplace = True)

In [25]:
x

      days  apple  banana  rice   biscut  chips
0    day 1   24.0    18.0     11    58.0     14
1    day 2   67.0    96.0     37    95.0     96
2    day 3   72.0     8.0      7    76.0     56
3    day 4   72.0    28.0     47    63.0     20
4    day 5   23.0    50.0     20    45.0     52
5    day 6   38.0     2.0      9    71.0     29
6    day 7   79.0    68.0      1    26.0     92
7    day 8   87.0    27.0     28     NaN     32
8    day 9   86.0     9.0     90     NaN      8
9   day 10   98.0    99.0     38     1.0     50
10  day 11    5.0    42.0     20    51.0     30
11  day 12   93.0     NaN     47    95.0     88
12  day 13    7.0    79.0     75    23.0     52
13  day 14   31.0    85.0     88    36.0     93
14  day 15    NaN   100.0     74    20.0     82
15  day 16   30.0    94.0      3    19.0     72
16  day 17   66.0    98.0     92    52.0     24
17  day 18   21.0     NaN     23    48.0     85
18  day 19   42.0    94.0     97    79.0     73
19  day 20    1.0    40.0     29    29.0     20

In [27]:
import pandas as c

In [28]:
x

      days  apple  banana  rice   biscut  chips
0    day 1   24.0    18.0     11    58.0     14
1    day 2   67.0    96.0     37    95.0     96
2    day 3   72.0     8.0      7    76.0     56
3    day 4   72.0    28.0     47    63.0     20
4    day 5   23.0    50.0     20    45.0     52
5    day 6   38.0     2.0      9    71.0     29
6    day 7   79.0    68.0      1    26.0     92
9   day 10   98.0    99.0     38     1.0     50
10  day 11    5.0    42.0     20    51.0     30
12  day 13    7.0    79.0     75    23.0     52
13  day 14   31.0    85.0     88    36.0     93
15  day 16   30.0    94.0      3    19.0     72
16  day 17   66.0    98.0     92    52.0     24
18  day 19   42.0    94.0     97    79.0     73
19  day 20    1.0    40.0     29    29.0     20

In [34]:
x.loc[2,"apple"]

72.0

In [36]:
x.loc[12,"apple"] = 10

In [37]:
x

      days  apple  banana  rice   biscut  chips
0    day 1   24.0    18.0     11    58.0     14
1    day 2   67.0    96.0     37    95.0     96
2    day 3   72.0     8.0      7    76.0     56
3    day 4   72.0    28.0     47    63.0     20
4    day 5   23.0    50.0     20    45.0     52
5    day 6   38.0     2.0      9    71.0     29
6    day 7   79.0    68.0      1    26.0     92
9   day 10   98.0    99.0     38     1.0     50
10  day 11    5.0    42.0     20    51.0     30
12  day 13   10.0    79.0     75    23.0     52
13  day 14   31.0    85.0     88    36.0     93
15  day 16   30.0    94.0      3    19.0     72
16  day 17   66.0    98.0     92    52.0     24
18  day 19   42.0    94.0     97    79.0     73
19  day 20    1.0    40.0     29    29.0     20

In [52]:
x = c.read_excel("book python.xlsx")
for y in x.index:
    if x.loc[y,"apple"]>60:
        print(x.loc[y,"apple"])

67.0
72.0
72.0
79.0
87.0
86.0
98.0
93.0
66.0

In [61]:
x = c.read_excel("book python.xlsx")
for y in x.index:
    if (x.loc[y,"apple"]>60 and x.loc[y,"apple"]<80):
        print(x.loc[y,"apple"])

67.0
72.0
72.0
79.0
66.0

In [78]:
x = c.read_excel("book python.xlsx")
for y in x.index:
    if x.loc[y,"apple"]<30:
        print(x.loc[y,"days"])
        print("no sale for apple")
    if x.loc[y,"banana"]<30:
        print(x.loc[y,"days"])
        print("no sale for banana")
    if x.loc[y,"rice"]<30:
        print(x.loc[y,"days"])
        print("no sale for rice")      
    if x.loc[y,"biscut"]<30:
        print(x.loc[y,"days"])
        print("no sale for biscut")
    if x.loc[y,"chips"]<30:
        print(x.loc[y,"days"])
        print("no sale for chips")

day 1
no sale for apple
day 1
no sale for banana

KeyError: 'rice'